.App {
    padding-top: 30px;
    text-align: center;
}

.buscador {
    display: flex;
    justify-content: center;
}

.posterLista {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px;
}

.posterLista-item {
    margin-bottom: 20px;
    width: 48%
}