
.caja {
    padding: 1em;
    border: 1px solid black;
    text-align: center;
    width: 8em;
    height: 8em;
    float: left;
}
.caja img {
    width: 60%;
    height: 60%;
    margin: auto
}
.informe {
    margin:auto;
}